Tuple: ordered , immutable,allows duplicate element

In [ ]:
mytuple = ("sai",21,"Pune")

In [ ]:
type(mytuple)

tuple

In [ ]:
mytuple1 = "sai",21,"mumbai"

In [ ]:
type(mytuple1)

tuple

In [ ]:
t1 = ("ram")

In [ ]:
type(t1)

str

In [ ]:
t2 = ("ram",)

In [ ]:
type(t2)

tuple

In [ ]:
mytuple

('sai', 21, 'Pune')

In [ ]:
mytuple[1]

21

In [ ]:
mytuple[-1]

'Pune'

In [ ]:
# Immutable property of the tuple - VERY IMP - Can not add, remove , update the value inside the tuple once created.
mytuple[1] = 50

TypeError: ignored

In [ ]:
# Iterate over tuple

for i in range(len(mytuple)):
  print(mytuple[i])

sai
21
Pune

In [ ]:
# Allow duplicate value

t3 = (1,1,2,2,4,"sai","ram")
print(t3)

(1, 1, 2, 2, 4, 'sai', 'ram')

In [ ]:
# wanted to know the index of element
t3.index('sai')

5

In [ ]:
# slicing 

t3[1:5]

(1, 2, 2, 4)

In [ ]:
t3[:]

(1, 1, 2, 2, 4, 'sai', 'ram')

In [ ]:
t3[-1]

'ram'

In [ ]:
t4 = (1,2,3,4,5,6,7,8,9,10)

In [ ]:
t4[::2]   #t4[start of the index: end of the index:step size]

(1, 3, 5, 7, 9)

In [ ]:
t4[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
# Unpacking the tuple
mytuple

('sai', 21, 'Pune')

In [ ]:
name , age , city = mytuple

In [ ]:
print(name)
print(age)
print(city)

sai
21
Pune

In [ ]:
t4

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
first_ele , *second_ele , third_ele = t4

In [ ]:
print(first_ele)
print(second_ele)
print(third_ele)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [ ]:
# tuple is faster than list
import timeit

print("time require to create list", timeit.timeit(stmt="[1,2,3,4,5]",number=100000))
print("time require to create tuple", timeit.timeit(stmt="(1,2,3,4,5)",number=100000))

time require to create list 0.013200105000123585
time require to create tuple 0.0012971460000699153

In [ ]:
# tuple memory efficient as compare to list

import sys
my_list = [0,1,2,"sai",True]
my_tuple = (0,1,2,"sai",True)
print(sys.getsizeof(my_list),"bytes")
print(sys.getsizeof(my_tuple),"bytes")

112 bytes
96 bytes

# Dictionary : Key-Value , unordered , Mutable

In [1]:
mydict = {"name":"sai","age":21,"city":"pune"}
print(mydict)

{'name': 'sai', 'age': 21, 'city': 'pune'}

In [2]:
mydict1 = dict(name='sai',age='21',city="mumbai")
print(mydict1)

{'name': 'sai', 'age': '21', 'city': 'mumbai'}

In [3]:
# Access value
value = mydict["name"]
print(value)

sai

In [4]:
# Dictionary is mutable

mydict["email"] = "sai@gmail.com"
print(mydict)

{'name': 'sai', 'age': 21, 'city': 'pune', 'email': 'sai@gmail.com'}

In [5]:
# delete

del mydict["age"]
print(mydict)

{'name': 'sai', 'city': 'pune', 'email': 'sai@gmail.com'}

In [6]:
# OR

mydict.pop("city")
print(mydict)

{'name': 'sai', 'email': 'sai@gmail.com'}

In [7]:
# delete last key from dict

mydict.popitem()
print(mydict)

{'name': 'sai'}

In [8]:
# iterate over the dictionary
for key in mydict1:
  print(key)

name
age
city

In [9]:
for key in mydict1.keys():
  print(key)

name
age
city

In [10]:
for value in mydict1.values():
  print(value)

sai
21
mumbai

In [11]:
for key,value in mydict1.items():
  print(key,value)

name sai
age 21
city mumbai

In [12]:
# copy dict to another dict

mydict1_cpy = mydict1
print(mydict1_cpy)

{'name': 'sai', 'age': '21', 'city': 'mumbai'}

In [13]:
mydict1_cpy["email"] = "sai@outlook.com"
print(mydict1)

{'name': 'sai', 'age': '21', 'city': 'mumbai', 'email': 'sai@outlook.com'}

In [14]:
mydict1_cpy["transport"] = "Road"
print(mydict1_cpy)

{'name': 'sai', 'age': '21', 'city': 'mumbai', 'email': 'sai@outlook.com', 'transport': 'Road'}

In [15]:
print(mydict)

{'name': 'sai'}

In [17]:
# actual copy
mydict_cpy = mydict.copy()

In [18]:
mydict_cpy["age"] = 50

In [19]:
print(mydict)
print(mydict_cpy)

{'name': 'sai'}
{'name': 'sai', 'age': 50}

In [20]:
# merge operation
print(mydict1)

{'name': 'sai', 'age': '21', 'city': 'mumbai', 'email': 'sai@outlook.com', 'transport': 'Road'}

In [22]:
mydict.update(mydict1)
print(mydict)

{'name': 'sai', 'age': '21', 'city': 'mumbai', 'email': 'sai@outlook.com', 'transport': 'Road'}

In [23]:
# you can use tuple as key in dict

newdict = {3:9 , 4:16}
mytuple = (8,5)
newdict1 = {mytuple:14} 
print(newdict1)

{(8, 5): 14}

In [26]:
mylist = [7,6]
newdict3 = {mylist:13} 
print(newdict3)

TypeError: ignored