Tuple: ordered , immutable,allows duplicate element

In [3]:
mytuple = ("sai",21,"Pune")

In [4]:
type(mytuple)

tuple

In [5]:
mytuple1 = "sai",21,"mumbai"

In [7]:
type(mytuple1)

tuple

In [8]:
t1 = ("ram")

In [9]:
type(t1)

str

In [10]:
t2 = ("ram",)

In [11]:
type(t2)

tuple

In [15]:
mytuple

('sai', 21, 'Pune')

In [13]:
mytuple[1]

21

In [14]:
mytuple[-1]

'Pune'

In [17]:
# Immutable property of the tuple - VERY IMP - Can not add, remove , update the value inside the tuple once created.
mytuple[1] = 50

TypeError: ignored

In [18]:
# Iterate over tuple

for i in range(len(mytuple)):
  print(mytuple[i])

sai
21
Pune

In [19]:
# Allow duplicate value

t3 = (1,1,2,2,4,"sai","ram")
print(t3)

(1, 1, 2, 2, 4, 'sai', 'ram')

In [20]:
# wanted to know the index of element
t3.index('sai')

5

In [22]:
# slicing 

t3[1:5]

(1, 2, 2, 4)

In [23]:
t3[:]

(1, 1, 2, 2, 4, 'sai', 'ram')

In [25]:
t3[-1]

'ram'

In [26]:
t4 = (1,2,3,4,5,6,7,8,9,10)

In [27]:
t4[::2]   #t4[start of the index: end of the index:step size]

(1, 3, 5, 7, 9)

In [28]:
t4[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [29]:
# Unpacking the tuple
mytuple

('sai', 21, 'Pune')

In [30]:
name , age , city = mytuple

In [31]:
print(name)
print(age)
print(city)

sai
21
Pune

In [33]:
t4

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [32]:
first_ele , *second_ele , third_ele = t4

In [34]:
print(first_ele)
print(second_ele)
print(third_ele)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [37]:
# tuple is faster than list
import timeit

print("time require to create list", timeit.timeit(stmt="[1,2,3,4,5]",number=100000))
print("time require to create tuple", timeit.timeit(stmt="(1,2,3,4,5)",number=100000))

time require to create list 0.013200105000123585
time require to create tuple 0.0012971460000699153

In [38]:
# tuple memory efficient as compare to list

import sys
my_list = [0,1,2,"sai",True]
my_tuple = (0,1,2,"sai",True)
print(sys.getsizeof(my_list),"bytes")
print(sys.getsizeof(my_tuple),"bytes")

112 bytes
96 bytes